<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codetribe.polokwanetour">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="City Of Plokwane"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Accomodation"
            android:label="Accomodation"/>
        <activity android:name=".Entertainment"
            android:label="Entertainment"/>
        <activity android:name=".Shopping"
            android:label="Shopping"/>
        <activity android:name=".Attraction"
            android:label="Attraction"/>
        <activity
            android:name=".Hotels"
            android:theme="@style/AppTheme.NoActionBar"
            android:label=""/>
        <activity android:name=".SecondShopping" />
        <activity android:name=".SecondAttraction" />
        <activity android:name=".SecondEntertainment"></activity>
    </application>

</manifest>